IBKR_BASE_URL=
IBKR_REALM=

# Authentication with OAUTH: Use IBKR's this site
# https://ndcdyn.interactivebrokers.com/sso/Login?action=OAUTH&RL=1&ip2loc=US
# More explanation on https://github.com/Voyz/ibind/wiki/OAuth-1.0a
IBKR_CONSUMER_KEY=
IBKR_ACCESS_TOKEN=
IBKR_ACCESS_TOKEN_SECRET=
IBKR_SIGNATURE_KEY_PATH=
IBKR_ENCRYPTION_KEY_PATH=
IBKR_DH_PARAM_PATH=
IBKR_TIMEOUT_SECONDS=
IBKR_DATABASE=
